<section class="todoapp">
	<header class="header">
    <h1>Your List</h1>
    
    <%= form_for(@list) do |f| %>
      <!-- now we can build our input-->
      <%= f.text_field :name, :class => "new-todo", :placeholder => "Add to the list..." %>
      <%end%>
    
  
    </header>

    <section class="main">
     
      
      <ul class="todo-list">
        <% @lists.each do |list| %>
          <li>
            <div class="view">
            <label> <%= link_to list.name, lists_path(list), class: "todo-link" %> </label> 
            </div>
          </li>
        <%end%>
      </ul>
    </section>
      
  <footer class="footer">
    <span class="todo-count"></span>
  </footer>
</section>
  

  